:root{
    --primary-color: #000000;
    --secondary-color: #ffffff;
    --highlight-color: #22D4FD;
    
    --primary-font: "Krona One", sans-serif;
    --secondary-font: "Montserrat", sans-serif;
}